body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Nav settings for larger screens */
@media (min-width: 992px) {
    .navbar {
        height: 100vh;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
    }

    .content {
        padding-left: 20px;
    }
}
